# Clave de OpenAI u OpenRouter
OPENAI_API_KEY= tu_api_key
OPENAI_BASE_URL=https://openrouter.ai/api/v1

GOOGLE_CREDENTIALS_PATH=ruta_a_tu_archivo_credentials.json
GOOGLE_TOKEN_PATH=ruta_a_tu_archivo_token.json_o_tu_token
